body {
  margin: 0;
  padding: 0;
  font-family: 'Sans';
  background: #9ccc65
}

footer{
  background-color: #333;
  color: #f3f3f3;
  bottom: 0;
  height: 4em;
  padding-top: 1em;
  position: absolute;
  text-align: center;
  width: 100%;
}

footer a{
  padding-top: 1em;
  color: #f3f3f3; 
}