.top-menu{
  background-color: #333;
  width: 100%;
  padding: 1em 0;

}

header{
  display: grid;
  grid-template-columns: 80% 20%;
  margin: 0 auto;  
  width: 760px;
}

h1{
  color: lightgreen;
}

.board{
  background: #f0f4c3;
  display: grid;
  margin: 1em auto;
  max-width: 600px;
}

.cell{
  border: 1px solid darkgrey; 
  border-collapse: collapse;
}

.snake{
  background-color: #2e7d32;
  border-color: #2e7d32;
}

.apple{
  background-image: url('images/apple.svg');
  background-position: center;
  background-size: 30px 30px;
}

.count{
  background-image: url('images/apple.svg');
  background-size: 2em 2em;
  background-repeat: no-repeat;
  color: #efefef;   
  font-size: 1.5em;
  font-weight: bold;
  float: left;
  padding: 0.7em 2em;
}
